 html {
      box-sizing: border-box;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }

    body {
      font-family: 'Open Sans', sans-serif;
      background:#364959;
      font-size:12px;
      line-height:21px;
    }
    .main { min-height: 100vh; }
       
   
    .navbar-brand img { height: 38px; }
    .nav-link {color: #364959; font-weight: bold; font-size: 14px;}
    .navbar-light .navbar-nav .nav-link.active { color: #6db2d7;  }
    .map-container {
   
      margin:20px auto;
      position: relative;
    }
    .WD_map {
    margin: 0px auto;
    min-height: 100vh;
    width: 75%;
    float: left;
    }
    .WD_advSearch { position: absolute; right: 10px; top:40px; z-index: 2; cursor: pointer; }
    .sliding-sidebar {
    position: absolute;
    z-index: 1;
    background: #333333;
    min-height: 100vh;
    border-right:none;
    padding: 0px;
     width: 291px;
    float: left;
  }
  .sliding-sidebar.collapse, .sliding-sidebar.collapsing {
    display: block !important;
    -webkit-transform: translate3D(-100%, 0, 0);
    transform: translate3D(-100%, 0, 0);
    transition: all 200ms;
  }
  .sliding-sidebar.collapse.show {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), 2px 0 0 rgba(0, 0, 0, 0.05), 3px 0 0 rgba(0, 0, 0, 0.05);
    position: relative;
  }
  #WD_sidenav { padding: 0px;  }
 .card {
    background: #333333;
    border: 1px solid #3c3c3c;
    color: #fff;
}
  .WD_prodesc {
    z-index: 2;
    background: #ffffff;
    min-height: 100vh;
    padding: 0px;
    display: none;
    position: relative;
    width: 50%;
    float: left;
}
.WD_proHeader {
    background: #1072b8;
    font-size: 24px;
    padding-left: 15px;
    height: 56px;
    line-height: 56px;
    color: #ffffff;
}
.WD_proHeader span { text-transform: uppercase;  }
.WD_close {
    position: absolute;
    top: 18px;
    font-size: 14px;
    right: 20px;
    color: #ffffff;
    cursor:pointer;
}
.WD_procontent {
  max-height: 100vh;
    overflow: scroll;
    padding: 0px 15px;
}
#WD_sidenav .arrow {
  float: right;
}
#WD_sidenav .btn-link { color: #73bee6; font-size: 14px; text-decoration: none;  }
#WD_sidenav .btn-link.collapsed { color: #ffffff;  }
#WD_sidenav .btn-link.collapsed  .fa.arrow:before {
  content: "\f104";
}
#WD_sidenav .btn-link .fa.arrow:before {
  content: "\f107";
}
.WD_filteLabel {
    padding: .375rem .75rem;
    color: #fff;
    background: #3b3b3b;
    font-size: 14px;
}
.accordion .card .btn-link { width: 100%; text-align: left; padding: 0.6rem .75rem;  }
.WD_filteLabel span {float: right;}
.slider .tooltip.top.in { opacity: 1; }
.slider.slider-horizontal {
    width: 70%;
    height: 20px;
    margin: 0px 10px;
}
.card-body {

    padding:.5rem .75rem ;
}
.card-body ul li {
   margin: 0px 0px 25px 0px;
} 
.WD_range-con .slider-selection {
  background: rgb(54,115,155); /* Old browsers */
background: -moz-linear-gradient(top, rgba(54,115,155,1) 20%, rgba(80,140,179,1) 77%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(54,115,155,1) 20%,rgba(80,140,179,1) 77%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(54,115,155,1) 20%,rgba(80,140,179,1) 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36739b', endColorstr='#508cb3',GradientType=0 ); /* IE6-9 */
border:1px solid #a1a1a1;


}
.WD_range-con .slider-handle {
  background: white;
  border:1px solid #a1a1a1;
}
.WD_rangeTitle {
    font-size: 14px;
    margin-bottom: 10px;
}
.WD_fbtn div{ display: inline-block; width: 45%; height: 30px; background: #b9b9b9; 
  text-align: center; color: #364959; font-size: 14px; line-height: 30px; margin: 5px 2%; cursor: pointer; }
.WD_fbtn .WD_filter { background: #fef035; }
.WD_search-con { min-height: 100vh;background: #ffffff; padding: 0px; margin: 0px; }
.sliding-sidebar .row { padding: 0px; margin: 0px; }
.WD_provLabel {
    padding: .375rem 0px;
    color: #fff;
    background: #969696;
    font-size: 13px;
    text-align: center;
}
.WD_searchLabel {
    text-align: center;
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
    color: #a1a1a1;
}
.WD_loading {
    width: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -15px;
    display: none;
}
.WD_loading img{ width: 100%;  }
.WD_provnum {
    width: 30%;
    display: inline-block;
    text-align: center;
    color: #ffffff;
}
.WD_provabb {
    width: 65%;
    display: inline-block;
    text-align: center;
}
.WD_search-con li {
    line-height: 30px;
    height: 30px;
    margin-bottom: 2px;
    cursor: pointer;
}
.WD_filtersample { display: none; }
.popover-body {
    padding:0px;
}
.WD_filterclose { 
position: absolute; top: 5px; right: 5px; color: #fff;  }
   .myDrop {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  max- width: 100%;
  min-width: 100%;
  vertical-align: middle;
  position: relative;
  z-index: 4;
  display: none;
  background-color: #ffffff;
}

.mydrop ul {
  display: none;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  max-height: 250px;
  overflow: auto;
  position: absolute;
  z-index: 4;
  width: 100%;
  font-size: 12px;
 
}

.mydrop ul li {
  padding: 5px 10px;

}

.mydrop ul li:hover {
  background: #ddd;
}
.variable {
    width: 90%;
    margin: 0px auto;
}

.variable div {
    margin: 10px 15px;
    text-align: center;
}
.variable div span{
  font-weight: bold;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
    display: block;
}
.slick-prev:before, .slick-next:before {
    font-size: 30px;
    color: #404040;
}
footer { width: 100%; background: #444444; height: 50px; line-height: 50px; color: #ffffff; font-size: 12px;   position: relative; text-align: center; z-index: 3; }
    @media only screen and (min-width: 1168px) and (max-width: 1462px)  {
.WD_prodesc { width: 45% }
}
    @media only screen and (max-width: 1167px)  {
.sliding-sidebar.collapse.show{ position: relative; width: 100%; }
.WD_provLabel { text-align: left; padding-left: 8px;  }
.WD_prodesc {
    position: relative;
    width: 100%;
}
}

    @media only screen and (min-width: 768px)  {
  
      nav.navbar {
    padding: 0px 0px 0px 1rem;
    }
     .navbar-brand { padding:0px;   }
       .navbar-nav.WD_right li {
    padding: 0px 3px;
    line-height: 70px;
    }
    
      .nav-link { padding: 7px 0px 0px 0px;}
       .navbar-nav.WD_right li .nav-link { padding: 0px 6px; }
       .navbar-nav.WD_right li.WD_call {
        background: #fef035;
        line-height: 70px;
        width: 70px;
        text-align: center;
        margin-left: 15px;
        padding: 0px;
        }
         .map-container {
      width: auto;
      max-width: 520px;
    }
    }

    @media only screen and (min-width: 768px)  and (max-width:818px) {
      .navbar-brand img { height: 34px; }
      .nav-link {font-size: 13px;}
      .navbar-nav.WD_right li { padding: 0px 1px;}
      .navbar-nav.WD_right li.WD_call {margin-left: 10px;}
    }
 
    @media only screen and (max-width: 767px) {
      .container {
        width: 420px;
      }
      #WD_nav {    border-top: 1px solid rgb(204, 204, 204);
    margin-top: 8px;}
       .myDrop { display: block;  }
      .WD_advSearch
      {
            right: 0px;
          top: 56px;
      }
      .WD_proHeader { font-size: 14px;  }
      .variable {
    width: 80%;
}
    }
    @media only screen and (max-width: 480px) {
      .container {
        width: 300px;
      }
    }

    a img {
      border:none;
    }

    h1, h2, h3, h4, h5, h6{ 
      font-weight:normal; 
    }
    h1{ 
      font-size:26px; 
      line-height:32px; 
    }
    p, ul{
      margin-bottom:10px;
    }
    .jsmaps-text { display: none !important; }
